<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80878341053-nd0qd9h1s0pt98dm1vljevhgaq33nd3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80878341053-nd0qd9h1s0pt98dm1vljevhgaq33nd3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDMrcNxTDgsPOdkUzvv7IWWcbmxrltNeI4</string>
	<key>GCM_SENDER_ID</key>
	<string>80878341053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anam.biirr</string>
	<key>PROJECT_ID</key>
	<string>biirr-3eb3c</string>
	<key>STORAGE_BUCKET</key>
	<string>biirr-3eb3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80878341053:ios:318b317bba2187efc960d4</string>
</dict>
</plist>